<!DOCTYPE html>
<html>
<head><title>Create Auction</title></head>
<body style="text-align:center; background-color:#ffffe0;">
<h1>Create Auction</h1>
<form method="post">
    Title: <input type="text" name="title"><br><br>
    Description: <textarea name="description"></textarea><br><br>
    Starting Bid: <input type="number" name="starting_bid" step="0.01"><br><br>
    Duration (hours): <input type="number" name="duration"><br><br>
    <input type="submit" value="Create Auction">
</form>
</body>
</html>